<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group btn-group-justified btn-actions" role="group">
      <a md-raised-button [class.selected]="services.nav=='issues'" (click)="services.nav='issues';animate()">INCIDENTES</a>
      <a md-raised-button [class.selected]="services.nav=='tasks'" (click)="services.nav='tasks';animate()">TAREAS</a>
      <a md-raised-button [class.selected]="services.nav=='deploys'" (click)="services.nav='deploys';animate()">PASAJES</a>
    </div>

 <div  *ngIf="loading"  class="card">
   <div  class=" body">
      <div class="loader" style="    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 45%;
    margin-right: 45%;">
        <div class="preloader pl-size-xl">
          <div class="spinner-layer pl-indigo">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>


    <div *ngIf="!loading" >
      <div  *ngIf="services.nav=='tasks'" class="card">
        <div [class.show]="show" class="not-show body">
          <div class="row clearfix">
            <div class="title col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <h2>Tareas <span class="label bg-indigo">{{tasks.length}}</span></h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="sub-menu">
                <a routerLink="/issue/task" md-mini-fab>
                  <md-icon>add</md-icon>
                </a>
                <button md-fab><md-icon>check</md-icon></button>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="body table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr [class.btn-danger]="getDelay(task) > secondDelay" [class.btn-warning]="getDelay(task) > firstDelay" style="cursor:pointer"
                    [routerLink]="['/issue', task._id]" *ngFor="let task of tasks">
                    <td style="width:10%">{{getDate(task) | date: 'dd/MM'}}</td>
                    <td style="width:10%">{{task.assignee}}</td>
                    <td>{{task.title}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="services.nav=='issues'" class="card">
        <div  [class.show]="show" class="not-show body">
          <div class="row clearfix">
            <div class="title col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <h2>Incidentes <span class="label bg-indigo">{{issues.length}}</span></h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="sub-menu">
                <a routerLink="/issue" md-mini-fab>
                  <md-icon>add</md-icon>
                </a>
                <button md-fab><md-icon>check</md-icon></button>
              </div>
            </div>
          </div>
          <div class="body table-responsive">
            <table class="table table-hover">
              <thead>
                <th style="width:10%">
                  Fecha
                </th>
                <th style="width:10%">
                  Responsable
                </th>
                <th>
                  Descripción
                </th>
              </thead>
              <tbody>
                <tr [class.btn-danger]="getDelay(issue) > secondDelay" [class.btn-warning]="getDelay(issue) > firstDelay" style="cursor:pointer"
                  [routerLink]="['/issue', issue._id]" *ngFor="let issue of issues">
                  <td style="width:10%">{{getDate(issue) | date: 'dd/MM'}}</td>
                  <td style="width:10%">{{issue.assignee}}</td>
                  <td>{{issue.title}} <span *ngIf="issue.ocurrences.length > 1" [class.bg-red]="issue.ocurrences.length > 2" [class.bg-indigo]="issue.ocurrences.length == 2" class="label">{{issue.ocurrences.length}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="services.nav=='deploys'" class="card">
        <div [class.show]="show" class="not-show body">
          <div class="row clearfix">
            <div class="title col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <h2>Pasajes <small>Aún no se registran pasajes</small></h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>