<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group btn-group-justified btn-actions" role="group" >
      <a href="javascript:void(0);" (click)="services.nav='issues'" class="btn bg-indigo waves-effect" role="button">INCIDENTES</a>
      <a href="javascript:void(0);" (click)="services.nav='tasks'" class="btn bg-indigo waves-effect" role="button">TAREAS</a>
      <a href="javascript:void(0);" (click)="services.nav='issues'" class="btn bg-indigo waves-effect" role="button">PASAJES</a>
      <a href="javascript:void(0);" *ngIf="services.nav=='issues'" routerLink="/issue" class="btn btn-icon bg-indigo waves-effect " role="button"><i class="material-icons">add</i></a>
      <a href="javascript:void(0);" *ngIf="services.nav=='tasks'" routerLink="/issue/task" class="btn btn-icon bg-indigo waves-effect " role="button"><i class="material-icons">add</i></a>
      <a href="javascript:void(0);" (click)="services.nav='issues'" class="btn btn-icon bg-indigo waves-effect" role="button"><i class="material-icons">navigate_next</i></a>
    </div>


    <div *ngIf="services.nav=='tasks'" class="card">
        <div class="body table-responsive">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Tareas <span class="label bg-indigo">{{tasks.length}}</span></h2>
          </div>
          
            <table class="table table-hover">
                <tbody>
                    <tr style="cursor:pointer" [routerLink]="['/issue', task._id]" *ngFor="let task of tasks">
                      <td>{{task.title}}</td>
                        <td>
                          <div style="float:right">
                            <span class="badge bg-pink">desa</span>
                            <span *ngIf="task.environment.name == 'TEST' || task.environment.name == 'HOMO' || task.environment.name == 'PROD'" class="badge bg-cyan">test</span>
                            <span *ngIf="task.environment.name == 'HOMO' || task.environment.name == 'PROD'" class="badge bg-purple">homo</span>
                            <span *ngIf="task.environment.name == 'PROD'" class="badge bg-amber">prod</span>
                          </div>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
       <div *ngIf="services.nav=='issues'" class="card">
        <div class="body table-responsive">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h2>Incidentes <span class="label bg-indigo">{{issues.length}}</span></h2>
          </div>
            <table class="table table-hover">
              <thead>
                    <th>
                      Fecha
                    </th>
                    <th>
                      Descripción
                    </th>
                    <th>
                      Responsable
                    </th>
                </thead>
                <tbody>
                    <tr style="cursor:pointer" [routerLink]="['/issue', issue._id]" *ngFor="let issue of issues">
                      <td style="width:10%">{{issue.date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{issue.title}}</td>
                      <td style="float:right">{{issue.assignee}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>