<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group btn-group-justified btn-actions" role="group">
      <a md-raised-button [class.selected]="services.nav=='issues'" routerLink="/" (click)="services.nav='issues'">INCIDENTES</a>
      <a md-raised-button [class.selected]="services.nav=='tasks'" routerLink="/" (click)="services.nav='tasks'">TAREAS</a>
      <a md-raised-button [class.selected]="services.nav=='pass'" routerLink="/" (click)="services.nav='issues'">PASAJES</a>
    </div>
    <div class="card">
      <div [class.show]="show" class="not-show body">
        <div class="row clearfix">
          <div class="title col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <a md-icon-button routerLink="/" class="back-button"><md-icon>navigate_before</md-icon></a>
            <h2>
              <div *ngIf="!issue.task" style="display:initial">Incidente</div> <div *ngIf="issue.task" style="display:initial">Tarea</div> <small>{{issue._id}}</small>
            </h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div *ngIf="!issue._id" class="sub-menu">
              <a routerLink="/" md-mini-fab><md-icon>close</md-icon></a>
              <button (click)="done()" md-fab><md-icon>check</md-icon></button>
            </div>
            <div *ngIf="issue._id" class="sub-menu">
              <button *ngIf="!issue.task" (click)="issue.task=true; done()" md-mini-fab><md-icon>navigate_next</md-icon></button>
              <button *ngIf="issue.task" (click)="issue.task=false; done()" md-mini-fab><md-icon>navigate_next</md-icon></button> 
              <a (click)="remove()" md-mini-fab><md-icon>delete</md-icon></a>
              <a (click)="done()" md-fab><md-icon>save</md-icon></a>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-8">
            <md-input-container class="input-large">
              <input mdInput placeholder="Título" [(ngModel)]="issue.title">
            </md-input-container>
          </div>
          <div class="col-sm-4">
            <md-input-container class="input-large">
              <input mdInput  placeholder="Asignado a" [(ngModel)]="issue.assignee">
            </md-input-container>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <md-input-container>
              <textarea mdInput  placeholder="Resolución" style="width:100%;height:100px" [(ngModel)]="issue.resolution"></textarea>
            </md-input-container>
          </div>
        </div>
        
        <div class="row clearfix">
          <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
            <div class="row clearfix">
              <div class="title col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h3>
                  Ocurrencias<small *ngIf="issue._id && issue.ocurrences.length==0">No hubo ocurrencias en producción</small>
                </h3>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="sub-menu">
                  <a *ngIf="!newOcurrence" (click)="addNewOcurrence();" md-mini-fab><md-icon>add</md-icon></a>
                </div>
              </div>
            </div>
            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
               <div *ngFor="let ocurrence of issue.ocurrences; let i=index" class="panel panel-col-indigo">
                <div class="panel-heading" role="tab" id="headingOne_1">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#ocurrence{{i}}" aria-expanded="false" aria-controls="collapseOne_1"
                      class="collapsed">
                        {{ocurrence.date | date: 'dd/MM/yyyy'}} - {{ocurrence.branch}} - {{ocurrence.reporter}}
                    </a>
                  </h4>
                </div>
                <div id="ocurrence{{i}}" (paste)="pasteImage($event,ocurrence)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false"
                  style="height: 0px;">
                  <div class="panel-body">
                    <div class="row clearfix">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row clearfix">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Informador" [(ngModel)]="ocurrence.reporter">
                            </md-input-container>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                             <md-input-container>
                          <input mdInput placeholder="Sucursal" [(ngModel)]="ocurrence.branch">
                        </md-input-container>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Usuario" [(ngModel)]="ocurrence.user">
                            </md-input-container>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Cliente" [(ngModel)]="ocurrence.customer">
                            </md-input-container>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <md-input-container>
                              <input mdInput [mdDatepicker]="picker"  placeholder="Fecha" [(ngModel)]="ocurrence.date">
                              <button mdSuffix [mdDatepickerToggle]="picker"></button>
                            </md-input-container>
                            <md-datepicker #picker></md-datepicker>
                          </div>
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <md-input-container>
                              <input mdInput placeholder="Hora" [(ngModel)]="ocurrence.time">
                            </md-input-container>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Ticket" [(ngModel)]="ocurrence.ticket">
                            </md-input-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <md-input-container >
                          <textarea mdInput  placeholder="Descripción" [(ngModel)]="ocurrence.desc" style="width:100%;height:184px"></textarea>                        
                        </md-input-container>  
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                        
                      <div *ngFor="let image of ocurrence.images"> 
                        <a (click)="removeImage(ocurrence,image)" style="margin:15px" md-mini-fab><md-icon>close</md-icon></a>
                        <img style="max-width:100%"  src="{{image}}" alt="">
                      </div>
                       <div class="sub-menu">
                        <a (click)="removeOcurrence(ocurrence)"  md-mini-fab><md-icon>delete</md-icon></a>
                        <a (click)="uploadImage(ocurrence)" md-mini-fab><md-icon>add_a_photo</md-icon></a>
                      </div>
                                            </div>

                    </div>
                  </div>
                </div>
              </div>

               <div *ngIf="newOcurrence" class="panel panel-col-indigo">
                <div class="panel-heading" role="tab" id="headingOne_1">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1"
                      class="collapsed">
                        Nueva ocurrencia
                    </a>
                  </h4>
                </div>
                <div id="collapseOne_1" (paste)="pasteImage($event,newOcurrence)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false"
                  style="height: 0px;">
                  <div class="panel-body">
                    <div class="row clearfix">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row clearfix">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Informador" [(ngModel)]="newOcurrence.reporter">
                            </md-input-container>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                             <md-input-container>
                          <input mdInput placeholder="Sucursal" [(ngModel)]="newOcurrence.branch">
                        </md-input-container>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Usuario" [(ngModel)]="newOcurrence.user">
                            </md-input-container>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Cliente" [(ngModel)]="newOcurrence.customer">
                            </md-input-container>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <md-input-container>
                              <input mdInput [mdDatepicker]="picker"  placeholder="Fecha" [(ngModel)]="newOcurrence.date">
                              <button mdSuffix [mdDatepickerToggle]="picker"></button>
                            </md-input-container>
                            <md-datepicker #picker></md-datepicker>
                          </div>
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <md-input-container>
                              <input mdInput placeholder="Hora" [(ngModel)]="newOcurrence.time">
                            </md-input-container>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <md-input-container>
                              <input mdInput placeholder="Ticket" [(ngModel)]="newOcurrence.ticket">
                            </md-input-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <md-input-container >
                          <textarea mdInput placeholder="Descripción" [(ngModel)]="newOcurrence.desc" style="width:100%;height:184px"></textarea>                        
                        </md-input-container>  
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                      <div *ngFor="let image of newOcurrence.images"> 
                        <a (click)="removeImage(newOcurrence,image)" style="margin:15px" md-mini-fab><md-icon>close</md-icon></a>
                        <img  style="max-width:100%" src="{{image}}" alt="">
                      </div>
                      <div class="sub-menu">
                        <a (click)="uploadImage(newOcurrence)" md-mini-fab><md-icon>add_a_photo</md-icon></a>
                        <a (click)="newOcurrence=null" md-mini-fab><md-icon>close</md-icon></a>
                        <button md-fab (click)="issue.ocurrences.push(newOcurrence);newOcurrence=null"><md-icon>check</md-icon></button>
                      </div>
                      </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="issue.task" class="row clearfix">
          <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
            <h3>
              Componentes afectados <small></small>
            </h3>

            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" [(ngModel)]="viewSearchTerm" (keyup)="search($event,viewSearchTerm)" class="form-control" placeholder="Buscar componentes">
                  </div>
                </div>
                <ul class="list-group search-results">
                  <li (click)="select(result);" *ngFor="let result of viewSearchResults" class="search-item list-group-item"><i *ngIf="result.componentType=='wf'" class="material-icons">device_hub</i><i *ngIf="result.componentType=='lo'"
                      class="material-icons">dashboard</i>{{result.nombre_concatenado}} <span class="badge bg-pink">{{result.version}}</span></li>
                </ul>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" [disabled]="issue._id != undefined" [(ngModel)]="issue.view.rules" id="rules">
                <label for="rules">Reglas</label>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" [disabled]="issue._id" [(ngModel)]="issue.view.styles" id="styles">
                <label for="styles">Estilos</label>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" [disabled]="issue._id" [(ngModel)]="issue.view.masks" id="masks">
                <label for="masks">Máscaras</label>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-sm-4">
                 <div class="body table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let component of issue.view.components">
                          <td class="component"><i class="material-icons">compare_arrows</i>{{component.nombre_concatenado}} <span class="badge bg-pink">{{component.version}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="body table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let service of cmmServices">
                          <td class="component"><i class="material-icons">compare_arrows</i>{{service.name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="body table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let coreService of coreServices">
                          <td class="component"><i class="material-icons">compare_arrows</i>{{coreService.name}} <span class="badge bg-pink">{{coreService.origin}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<input type="file" class="hidden" (change)="previewFile()">