.table-responsive{
    padding:0;
}

.search-results{
    z-index:10;
    position:absolute;
}

.search-item{
   cursor:pointer;
   font-size:12px;
}

td .input-group{
    margin:0;
}

td{
    vertical-align:middle!important;
}

.row-button{
    cursor:pointer;
    float: right;
    padding: 0;
    font-size: 18px;
}

.component{
    font-size:12px;
}

.badge.bg-black{
    margin-right: 5px;
}

.badge.bg-dark-grey{
    margin-right: 5px;
}