<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group btn-group-justified btn-actions" role="group">
      <a href="javascript:void(0);" routerLink="/" class="btn btn-icon bg-indigo waves-effect " role="button"><i class="material-icons">navigate_before</i></a>
      <a href="javascript:void(0);" routerLink="/" (click)="services.nav='issues'" class="btn bg-indigo waves-effect" role="button">INCIDENTES</a>
      <a href="javascript:void(0);" routerLink="/" (click)="services.nav='tasks'" class="btn bg-indigo waves-effect" role="button">TAREAS</a>
      <a href="javascript:void(0);" routerLink="/" (click)="services.nav='issues'" class="btn bg-indigo waves-effect" role="button">PASAJES</a>
      <a href="javascript:void(0);" *ngIf="issue._id" (click)="remove()" class="btn btn-icon bg-indigo waves-effect " role="button"><i class="material-icons">delete</i></a>
      <a href="javascript:void(0);" *ngIf="!issue._id" (click)="reset()" class="btn btn-icon bg-indigo waves-effect " role="button"><i class="material-icons">replay</i></a>
      <a href="javascript:void(0);" *ngIf="issue._id" routerLink="/issue" class="btn btn-icon bg-indigo waves-effect " role="button"><i class="material-icons">add</i></a>
      <a href="javascript:void(0);" *ngIf="issue._id" (click)="id = issue._id; issue._id=null" class="btn btn-icon bg-indigo waves-effect" role="button"><i class="material-icons">edit</i></a>
      <a href="javascript:void(0);" *ngIf="!issue._id" (click)="done()" class="btn btn-icon bg-indigo waves-effect" role="button"><i class="material-icons">done</i></a>
    </div>
    <div class="card">
      <div class="body">
        <div class="row clearfix">
          <div class="col-sm-8">
            <div class="form-group form-group-lg">
              <div class="form-line">
                <input [disabled]="issue._id" type="text" [(ngModel)]="issue.title" class="form-control" placeholder="Título">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-group-lg">
              <div class="form-line">
                <input [disabled]="issue._id" type="text" [(ngModel)]="issue.assignee" class="form-control" placeholder="Asignado a">
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
            <h2>
              Ocurrencias <small></small>
            </h2>
            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
               <div *ngFor="let ocurrence of issue.ocurrences; let i=index" class="panel panel-col-indigo">
                <div class="panel-heading" role="tab" id="headingOne_1">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#ocurrence{{i}}" aria-expanded="false" aria-controls="collapseOne_1"
                      class="collapsed">
                        {{ocurrence.date | date: 'dd/MM/yyyy'}} - {{ocurrence.branch}} - {{ocurrence.reporter}}
                    </a>
                  </h4>
                </div>
                <div id="ocurrence{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false"
                  style="height: 0px;">
                  <div class="panel-body">
                    <div class="row clearfix">
                      <div class="col-xs-4 ol-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                          <div class="form-line">
                            <input disabled type="text" id="email_address" [(ngModel)]="ocurrence.reporter" class="form-control" placeholder="Informador">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-line">
                            <input disabled type="text" id="email_address" [(ngModel)]="ocurrence.branch" class="form-control" placeholder="Sucursal">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-4 ol-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                          <div class="form-line">
                            <input disabled type="text" id="email_address" [(ngModel)]="ocurrence.user" class="form-control" placeholder="Usuario">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-line">
                            <input disabled type="text" id="email_address" [(ngModel)]="ocurrence.customer" class="form-control" placeholder="Cliente">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-4 ol-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                          <div class="form-line">
                            <input disabled type="date" id="email_address" [(ngModel)]="ocurrence.date" class="form-control" placeholder="Fecha">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-line">
                            <input disabled type="text" id="email_address" [(ngModel)]="ocurrence.time" class="form-control" placeholder="Hora">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                        <textarea disabled [(ngModel)]="ocurrence.desc" style="width:100%;height:100px" id="tinymce">
                          </textarea>
                      </div>
                       <a href="javascript:void(0);" style="float:right" (click)="removeOcurrence(ocurrence)" class="btn btn-icon bg-indigo waves-effect" role="button"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>

               <div class="panel panel-col-indigo">
                <div class="panel-heading" role="tab" id="headingOne_1">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1"
                      class="collapsed">
                        Nueva ocurrencia
                    </a>
                  </h4>
                </div>
                <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false"
                  style="height: 0px;">
                  <div class="panel-body">
                    <div class="row clearfix">
                      <div class="col-xs-4 ol-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                          <div class="form-line">
                            <input  type="text" id="email_address" [(ngModel)]="newOcurrence.reporter" class="form-control" placeholder="Informador">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-line">
                            <input  type="text" id="email_address" [(ngModel)]="newOcurrence.branch" class="form-control" placeholder="Sucursal">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-4 ol-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                          <div class="form-line">
                            <input  type="text" id="email_address" [(ngModel)]="newOcurrence.user" class="form-control" placeholder="Usuario">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-line">
                            <input  type="text" id="email_address" [(ngModel)]="newOcurrence.customer" class="form-control" placeholder="Cliente">
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-4 ol-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                          <div class="form-line">
                            <input  type="date" id="email_address" [(ngModel)]="newOcurrence.date" class="form-control" placeholder="Fecha">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-line">
                            <input  type="text" id="email_address" [(ngModel)]="newOcurrence.time" class="form-control" placeholder="Hora">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                        <textarea  [(ngModel)]="newOcurrence.desc" style="width:100%;height:100px" id="tinymce">
                          </textarea>
                      </div>
                      <a href="javascript:void(0);" style="float:right" (click)="issue.ocurrences.push(newOcurrence);newOcurrence={}" class="btn btn-icon bg-indigo waves-effect" role="button"><i class="material-icons">navigate_next</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="issue.task" class="row clearfix">
          <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
            <h2>
              Componentes afectados <small></small>
            </h2>

            <div class="row clearfix">
              <div class="col-sm-4">
                <div *ngIf="!issue._id" class="form-group">
                  <div class="form-line">
                    <input type="text" [(ngModel)]="viewSearchTerm" (keyup)="search($event,viewSearchTerm)" class="form-control" placeholder="Buscar componentes">
                  </div>
                </div>
                <ul class="list-group search-results">
                  <li (click)="select(result);" *ngFor="let result of viewSearchResults" class="search-item list-group-item"><i *ngIf="result.componentType=='wf'" class="material-icons">device_hub</i><i *ngIf="result.componentType=='lo'"
                      class="material-icons">dashboard</i>{{result.nombre_concatenado}} <span class="badge bg-pink">{{result.version}}</span></li>
                </ul>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" [disabled]="issue._id != undefined" [(ngModel)]="issue.view.rules" id="rules">
                <label for="rules">Reglas</label>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" [disabled]="issue._id" [(ngModel)]="issue.view.styles" id="styles">
                <label for="styles">Estilos</label>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" [disabled]="issue._id" [(ngModel)]="issue.view.masks" id="masks">
                <label for="masks">Máscaras</label>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-sm-4">
                 <div class="body table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let component of issue.view.components">
                          <td class="component"><i class="material-icons">compare_arrows</i>{{component.nombre_concatenado}} <span class="badge bg-pink">{{component.version}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="body table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let service of cmmServices">
                          <td class="component"><i class="material-icons">compare_arrows</i>{{service.name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="body table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let coreService of coreServices">
                          <td class="component"><i class="material-icons">compare_arrows</i>{{coreService.name}} <span class="badge bg-pink">{{coreService.origin}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>