/* You can add global styles to this file, and also import other style files */

.btn-group-justified .btn{
    width:auto;
}

.btn-icon{
    width:44px!important;
}

section.content{
    margin:100px 5% 0 5%;
}